/* Estilos Gerais */
body {
    background-color: #260c3f;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background: linear-gradient(90deg, #000000, #241533);
    border-radius: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

/* Menu de Navegação */
.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu a:hover,
.menu a.active {
    color: #AEADF0;
    border-bottom: 2px solid #AEADF0;
}

/* Apresentação */
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 50px;
    max-width: 900px;
    margin: 50px auto;
    text-align: left;
}

.conteudo h2 {
    font-size: 30px;
    margin-bottom: 10px;
   
}

.nome {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin-left: 15px;
}

.descricao {
    font-size: 22px;
    color: #AEADF0;
    margin-top: 10px;
    margin-left: 10px;
}

/* Avatar */
.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    border: 5px solid #4e4cdb;
    transition: transform 0.3s ease-in-out;
}

.avatar img:hover {
    transform: scale(1.05);
}

/* Botão Voltar ao Topo */
.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4e4cdb;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
    font-size: 18px;
}

.btn-top:hover {
    background-color: #3b39a1;
}

/* Responsividade */
@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        padding: 10px;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .apresentacao {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .avatar img {
        width: 150px;
        height: 150px;
    }
}
